* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Mono One', sans-serif;
}

.block {
    height: 100vh;
    position: relative;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: yellow;
}

.container {
    width: 800px;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

[class^=".container-text-"] {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 80px;
}

.container-text-1, .container-text-2 {
    color: yellow;
}

.container-text-3 {
    color: green;
}



